/* src/pages/Projects.css */

.projects-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212; /* Adjust as needed */
  overflow: hidden;
}

.title-container {
  display: flex;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 50px;
}

.title-letter {
  display: inline-block;
}

.osu-animation-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
